/***** IMPORT FONTS******/

/*font-family: 'Lato', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.table-container caption {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.table-rwd {
  font-family: "Lato", sans-serif;
  font-size: 0.85em;
  border: 1px solid rgba(181, 213, 144, 0.5);
  color: #666;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.table-rwd td,
.table-rwd th {
  padding: 0.8em;
  border-bottom: 1px solid rgba(181, 213, 144, 0.5);
}
.table-rwd th {
  background: #9C1169;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.table-rwd td {
  text-align: center;
}

.table-rwd tr td:nth-child(2n) {
  background: rgba(181, 213, 144, 0.2);
}

.table-container {
  overflow-x: auto;
  margin-top: 40px;
}

.table-rwd {
  min-width: 50%;
}

.table-rwd th:first-child {
  width: 8em;
}
